body {
    font-family: 'Arial', sans-serif;
    background-color: #f3caca;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 100px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #30353a;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 20px;
    color: #495057;
    margin-bottom: 10px;
}

input[type="text"],
select {
    height: 35px;
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #c1a2ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #8773b0;
}

img {
    border-radius: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 19px;
    color: #495057;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
